*{
    font-size: 20px;
}
body{
    background-image: url("../pictures/alpha_centauri.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 20px;
    background-color: rgba(71, 74, 78, 0.473);
    color: whitesmoke;
    border-radius: 5%;
    margin: 10px;
}

header{
    text-align: center;
}

header ul{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
header li{
    display: inline-block;
}
footer{
    text-align: center;
    width: 100%;
    max-height: 30px;
}
footer p{
    padding: 0px;
    max-width: 100%;
}

article{
    display: flex;
    /*justify-content: center;*/
}
article ul{
    justify-content: center;
}

p {
    max-width: 800px;
    padding: 10px;
    background-color: rgba(71, 74, 78, 0.473);
    color: whitesmoke;
    border-radius: 5%;
    margin: 10px;
    overflow: auto;
}

.art_Even_Left, .img_Even_Left{
    justify-content: flex-start;
    /*flex-basis: 100%;*/
    /* background: blue; */
    display: flex;
}

.art_Odd_Right, .img_Odd_Right{
    justify-content: flex-end;
    /*flex-basis: 100%;*/
    /* background: red; */
}
.article_Inner{
    display: flex;
    flex-direction: row;
}

.sub-article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(71, 74, 78, 0.473);
    color: whitesmoke;
    border-radius: 5%;
    margin: 10px;
}



img {
    max-width: 350px;
    max-height: 100%;
    border-radius: 5%;
    margin: 10px;
}